.main {
  font-family: "Libre Franklin", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  width: 580px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #F5F5F5;
  padding-bottom: 24px;
}

.subscription {
  display: flex;
  flex-direction: column;
  margin: 0 24px;
  width: 452px;
  border-radius: 8px;
  background: #FFFFFF;
  box-shadow: 0px 2px 2px 0px #0000001F;
  margin-top: 12px;
  margin-bottom: 24px;
}

.subscription__item {
  display: flex;
  align-items: center;
  margin: 24px 6px 6px 12px;
}

.subscription__label {
  flex-basis: 40%;
  text-align: left;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  margin-left: 12px;
}

.subscription__value {
  flex-basis: 60%;
  text-align: left;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  margin-left: 12px;
}

.pagination button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  width: 240px;
  border-radius: 4px;
  background: #5DB9FE;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}

.subscription__value input.edit-value {
  height: 25px;
  margin-right: 5px;
}

.subscription__value select.edit-value {
  height: 25px;
  margin-right: 5px;
}

.subscription__value a.save-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  height: 30px;
  width: 60px;
  border-radius: 4px;
  background: #5DB9FE;
  font-family: "Libre Franklin", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #FFFFFF;
  text-decoration: none;
}